<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Industry demo</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/myStyle.css"
          th:href="@{/css/myStyle.css}"/>

</head>
<body>
<br>
<h1>Test</h1>
<br>

<div class="container spacer">
    <table class="table">
        <thead>
        <tr>
            <th>iconID</th>
            <th>iconFile</th>
            <th>description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i:${eveiconsForm}">
            <td th:text="${i.iconID}"></td>
            <td th:text="${i.iconFile}"></td>
            <td th:text="${i.description}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>